@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --border-radius: 0px;
  --box-shadow-x: 5px;
  --box-shadow-y: 5px;
  --reverse-box-shadow-x: -5px;
  --reverse-box-shadow-y: -5px;

  --heading-font-weight: 900;
  --base-font-weight: 400;

  --background: #ffffff;
  --secondary-background: #f2f2f2;
  --foreground: #000000;
  --main-foreground: #ffffff;

  --main: #ff2d2d;
  --performance-card: #ff2d2d;
  --performance-card-foreground: #ffffff;
  --secondary-card: #ffffff;
  --border: #000000;
  --ring: #000000;
  --overlay: rgba(0, 0, 0, 0.8);

  --shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);

  --chart-1: #ff2d2d;
  --chart-2: #ff6b2d;
  --chart-3: #ffb02d;
  --chart-4: #2dcc70;
  --chart-5: #2d8fff;
  --chart-active-dot: #000;
}

.dark {
  --background: #0a0a0a;
  --secondary-background: #141414;
  --foreground: #ffffff;
  --main: #ff2d2d;
  --main-foreground: #ffffff;
  --performance-card: #ff2d2d;
  --performance-card-foreground: #ffffff;
  --secondary-card: #141414;
  --border: #ffffff;
  --ring: #ffffff;
  --shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);
  --chart-active-dot: #fff;
}

@theme inline {
  --color-main: var(--main);
  --color-background: var(--background);
  --color-secondary-background: var(--secondary-background);
  --color-foreground: var(--foreground);
  --color-main-foreground: var(--main-foreground);
  --color-performance-card: var(--performance-card);
  --color-performance-card-foreground: var(--performance-card-foreground);
  --color-secondary-card: var(--secondary-card);
  --color-border: var(--border);
  --color-overlay: var(--overlay);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --spacing-boxShadowX: var(--box-shadow-x);
  --spacing-boxShadowY: var(--box-shadow-y);
  --spacing-reverseBoxShadowX: var(--reverse-box-shadow-x);
  --spacing-reverseBoxShadowY: var(--reverse-box-shadow-y);

  --radius-base: var(--border-radius);

  --shadow-shadow: var(--shadow);

  --font-weight-base: var(--base-font-weight);
  --font-weight-heading: var(--heading-font-weight);
}

@layer base {
  body {
    @apply text-foreground font-base bg-background;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}
